*{
    background-color: powderblue;
}

h1{
    color: gold;
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
