* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #fff;
  color: #000;
}

#header {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 7px 0;
}

#header .container {
  display: flex; /* padding center */
  margin-bottom: 10px;
  justify-content: center;
}

.main-nav ul li {
  float: left;
  list-style: none;
  font-size: 20px;
  margin-left: 30px;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
}

.main-nav a:hover {
  color: red;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 150px 0;
  background-image: url("images/1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  display: flex;
}

.section-2 {
  width: 100%;
  height: 100vh;
  padding: 150px 0;
  background-image: url("images/2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  display: flex;
}


.home-section {
  width: 100%;
  color: #fff;
  margin-left: 30px;
  border-radius: 25px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}


.home-section img {
  max-width: 100%;
  vertical-align: top;
}

.about-section img {
  max-width: 100%;
  vertical-align: top;
}

.about-section,
.service-section,
.contact-section {
  height: 100vh;
  align-items: center;
  display: flex;
}